.grid-container{
display: grid;
width: 100%;
height: 800px;
position: relative;
grid-template-rows: 25% 25% 25% 25%;
grid-template-columns: 25% 25% 25% 25%;
grid-gap: 10px 10px;
}

img{
  padding-top: 20px;
  height: auto;
  width: auto;
}

h3{
  padding-left: 45px;
}

.description{
  width: 600px;
}

#derek{
  grid-area: 1/2/2/5;
}

#footer-image {
  height: 180px;
  width: 100%;
  bottom: 0;
}

footer{
  position: inherit;
  padding-top: 25%;
}
